.benefitCard {
    width: 85%;
    padding: 1.2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    border-radius: 40px 40px 40px 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.004);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1), 0 4px 15px rgba(0, 0, 0, 0.081);
    backdrop-filter: blur(15px);
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}


.benefitCard:nth-child(odd) {
    margin-left: auto;
    margin-right: 0;
}

.benefitCard:nth-child(even) {
    margin-right: auto;
    margin-left: 0;
    flex-direction: row-reverse; 
    border-radius: 40px 40px 0 40px; 
}

.benefitIconCircle {
    width: 64px;
    height: 64px;
    background-color: #4A8B60;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.benefitData {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 1;
    text-align: right;
}

/* When flipped (even), text should align to the left for better visual flow */
.benefitCard:nth-child(even) .benefitData {
    text-align: left;
}

.benefitTitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--lightText);
    font-family: var(--arabicFont);
    margin: 0;
}

.benefitDesc {
    font-size: 0.95rem;
    color: var(--lightText);
    opacity: 0.6;
    font-family: var(--arabicFont);
    margin: 0;
}
