.bottom-nav {
    position: fixed; /* Changed from absolute */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 412px;
    /* height: 80px;  */
    padding: 1.2rem 2rem;

    background-color: var(--transBg); 
    border-radius: 28px 28px 0 0; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}