.pageTitle{
    width: 100%;
    padding: .8rem 2rem 0 0;

    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.pageTitle h4{
    font-family: var(--arabicFont);
    color: var(--lightText);
    font-size: 1rem;
    font-weight: 400;
    opacity: .8;
}