.popularCard {
    width: 100%;
    background: var(--cardBg);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.popImgCont {
    width: 100%;
    height: 110px;
}

.popImgCont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popInfo {
    padding: .6rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.popInfo h4 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 100%;
}

.popInfo p {
    color: #5A6D5E;
    font-size: 1rem;
}