.quickActionCard {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-color: var(--cardBg);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.actionIconCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionImg {
    width: 44px;
    height: 44px;
    object-fit: contain;
}

.actionTitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--darkText);
    font-family: var(--arabicFont);
    margin: 0;
    white-space: nowrap;
}
