.task-card {
    position: relative;
    width: 100%;
    margin: 2.5rem auto 1rem;
    background-color: var(--transBg);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 120px 60px 0px 120px; 
    border: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    /* min-height: 110px; */

    font-family: var(--arabicFont);
    color: var(--lightText);

}

/* Image Container positioned to the far right */
.img-container {
    position: absolute;
    right: -1rem; 
    top: -2.5rem; 
    width: 125px;
    height: 145px;
    z-index: 10;
}

.task-plant-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 15px 25px rgba(0,0,0,0.4));
}

.task-info {
    flex-grow: 1;
    margin-right: 5.4rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.title-group {
    display: flex;
    align-items: baseline;
    gap: .5rem;
}

.plant-nick {
    font-weight: 500;
}

.real-name {
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.8;
    margin: 0;
}

.instruction-row {
    display: flex;
    align-items: flex-start;
    gap: .3rem;
}

.instruction-row p {
    opacity: 0.8;
    font-size: 1rem;
}

.done-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    flex-shrink: 0;
}

.done-circle {
    width: 2rem;
    height: 2rem;
    border: 2px solid rgba(250, 250, 234, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.done-circle.checked {
    background-color: var(--lightText); 
    border-color: var(--lightText);
    transform: scale(1.05);
}

.done-section span {
    color: var(--lightText);
    font-size: 0.85rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.done-section:has(.checked) span {
    opacity: 1;
    font-weight: 600;
}