.detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2rem;
    width: 100%;
    margin-bottom: 1.2rem;
    box-sizing: border-box;
}

.header-left, .header-right {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    height: 48px; /* Standardize logo size in header */
    width: auto;
}
