.whiteRoundCard {
    width: 100%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: var(--cardBg);
    border-radius: 16px;
    box-sizing: border-box;
}

.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem 0;
}

.status-badge {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 400;
    min-width: 110px;
    text-align: center;
    font-family: var(--arabicFont);
}

.status-badge.completed {
    background-color: #88B378;
    color: #FAFAEA;
}

.status-badge.missed {
    background-color: #A96C6C;
    color: #FAFAEA;
}

.history-date {
    color: var(--darkText);
    font-size: 1.1rem;
    opacity: 0.8;
    font-weight: 400;
}

.history-day {
    color: var(--darkText);
    font-size: 1.1rem;
    font-weight: 500;
}

.no-data {
    color: var(--darkText);
    text-align: center;
    opacity: 0.6;
    padding: 1rem;
}

.datastrap {
    width: 100%;
    height: 1px;
    background-color: #C7CDB6;
    border: none;
    opacity: 0.3;
}
