.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    background: transparent; 
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-center h2 {
    font-size: 1.1rem;
    color: var(--lightText);
    font-weight: 500;
}

.header-left, .header-right {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.generalSec2{
    position: fixed;
    bottom: 170px;
    margin: .6rem 0 ;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;

    left: 50%;
    transform: translateX(-50%);
     max-width: 412px;
}

.preQuestionSec{
    width: 100%;
    max-width: 412px;
     left: 50%;
    transform: translateX(-50%);

    position: fixed;
    bottom: 290px;
    padding: 0 2rem;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}