.postsSec{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.problemsRow{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}


.adviceCont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem; 
    box-sizing: border-box;
}

.lessonsCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lessonsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.popularRow{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}