.whiteRoundCard{
    width: 100%;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var( --cardBg);
    border-radius: 16px;

}

.datastrap{
    width: 94%;
    height: 1px;

    background-color: #C7CDB6;

    border: none;
}

.cardRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.achievementsCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;

    text-align: center;
}